body{
    background-color: aqua;
    align-items: center;
   margin-left: 50px;
   padding: 40px;
   max-width: 35%;
}
h3{
    padding: 7px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header{
    background-color: red;
    color: white;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    gap: 170px;
    width: 100%%;
    align-items: center;
    height: 96px;
}
.table-layout{
    background-color: white;
    width: 100%%;
    margin-top: -19px;
    height: 220px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: auto;
}
table{
    color: rgba(47, 4, 87, 0.89);
    padding: 9px;
}
tbody{
    font-weight: bold;
}
thead{
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
th{
    padding: 5px;
}
td{
    padding: 3px;
    padding-left: 8px;
}
.weekend{
    color: red;
}